=content_for :page_title do
  Order #{h '%06d' % @order.id}

-if @order.error
  .alert.alert-danger=@order.error
.row
  .col-md-5
    %h2 Client
    %table.table
      %tr
        %th Name
        %td= @order.client.name
      %tr
        %th Order date
        %td= format_date(@order.order_date)
      %tr
        %th Client Order No
        %td= @order.client_order_id
      %tr
        %th Confirmation
        %td= @order.confirmation
      %tr
        %th Status
        %td= @order.status
  .col-md-6
    %h2 Customer
    %table.table
      %tr
        %th Name
        %td= @order.customer_name
      %tr
        %th Shipping address
        %td= render 'shared/address', address: @order.shipping_address
      %tr
        %th Telephone
        %td= @order.telephone
      %tr
        %th Email
        %td
          -if @order.customer_email.present?
            =link_to @order.customer_email, "mailto:#{@order.customer_email}"
          -else
            &nbsp;
  .col-md-1
    .btn-group-vertical
      =link_to 'Back', orders_path(status: @order.status), class: 'btn btn-primary', title: 'Click here to return to the list of orders.'
      -if @order.submitted?
        =link_to 'Export', export_order_path(@order), method: :patch, class: 'btn btn-warning', title: 'Click here to export this order to the fulfillment provider.'
.row
  .col-md-12
    %h2 Items
    %table.table.table-striped
      %tr
        %th No
        %th SKU
        %th Description
        %th Qty
        %th Unit price
        %th Ext. price
        %th Tax
        %th Tot. price
        %th Weight
        %th Status

      -@order.items.each do |item|
        %tr
          %td= item.line_item_no
          %td= item.sku
          %td= item.description
          %td= item.quantity
          %td= number_to_currency(item.unit_price)
          %td= number_to_currency(item.extended_price)
          %td= number_to_currency(item.tax)
          %td= number_to_currency(item.total_price)
          %td= item.weight
          %td= item.status
.row
  .col-md-6
    %h2 Payments
    %table#payment-table.table.table-striped
      %tr
        %th Payment date
        %th State
        %th External ID
        %th Amount
        %th &nbsp;
      -@order.payments.each do |payment|
        %tr
          %td= format_date(payment.created_at)
          %td= payment.state
          %td= payment.external_id
          %td= number_to_currency(payment.amount)
          %td
            =link_to payment_path(payment), class: 'btn btn-xs btn-info view-button', title: 'Click here to view the payment details.' do
              %span.glyphicon.glyphicon-eye-open{ 'aria-hidden' => true }
